 <div class="booking-container">
    <div class="booking-top">
        <h2 class="booking-payment-headding">BOOKING ONLINE</h2>
        <div class="booking-top-desc">
            {{#with cinema}}
            <p>{{name}} | {{rooms.[0].name}} | Số ghế ()</p>
            <p>{{rooms.[0].showTimes.[0].date}} {{rooms.[0].showTimes.[0].time}} ~ {{rooms.[0].showTimes.[0].date}} 13:02</p>
            {{/with}}
        </div>
    </div>
    <div class="booking-content">
        <div class="booking-content__headding">Người / Ghế</div>
        <img src= "/img/backgrounds/background-booking-content.png" class="booking-content__screen"></img>
      <div class ="d-flex">
      <div class ="table-seats-head d-flex">
        {{#with seats.[0]}}
          <div class ="table-seats-title table-seats-head--item"></div>
            {{#each seats}}
              <div class ="table-seats-title table-seats-head--item">{{countIndex @index 1}}</div>
            {{/each}}
        {{/with}}
      </div>
    </div>
      <div class ="table-seats-body">
        {{#each seats}}
        <div class ="table-seats-item table-seats-{{brand.name}}-container d-flex" data ="{{brand._id}},{{brand.name}},{{brand.price}},{{brand.color}}">
            <div class ="table-seats-row d-flex">
            <div class ="table-seats-title table-seats-row-brand">{{name}}</div>
            {{#each seats}}
                {{#if name}}
                    <input data-status ="{{status}}" type="checkbox" id="{{name}}" name ="seats[]" value ="{{name}},{{../brand._id}},{{../brand.name}},{{../brand.price}},{{../brand.color}}"></input>
                    <label class ="seat seat--{{../brand.name}}-active" for ="{{name}}" name ="{{name}}" onclick = "handleSelectSeat(event)" price ="{{../brand.price}}">{{name}}</label>
                {{/if}}
                {{#unless name}}
                <label class ="seat"></label>
                {{/unless}}
            {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
    </div>
    <div class="booking-bottom">
        <form action="/payment" method="POST" class="form-booking">
            <button class="form-booking__prev"></button>
            {{#with cinema.rooms.[0].showTimes.[0]}}
            <div class="form-booking-left">
                <img class="form-booking__img" src ="data:image/{{film.image.contentType}};base64,
                     {{film.image.data}}">
                <div class="form-booking-left-desc">
                    <p class="form-booking__name">{{film.name}}</p>
                    <p class="form-booking__option">{{quality.name}}</p>
                    <input type="text" name ="film" value="{{film._id}}" >
                    <input type="text" name ="quality" value="{{quality._id}}" >
                </div>
            </div>
            {{/with}}
            <div class="form-booking-mid">
                {{#with cinema}}
                <div class ="form-booking-wrap">
                    <span>Rạp:</span>   
                    <p class="form-booking__cinema" name ="cinema"> {{name}}</p>
                    <input type="text" name ="cinema" value="{{_id}}" >
                </div>
                    {{#with rooms.[0]}}
                    <div class ="form-booking-wrap">
                        <span>Suất chiếu:</span>
                        <p class="form-booking__time">{{showTimes.[0].time}}, {{showTimes.[0].date}}</p>
                        <input type="text" name ="time" value="{{showTimes.[0].time}}" >
                        <input type="text" name ="day" value="{{showTimes.[0].date}}" >
                    </div>
                    <div class ="form-booking-wrap">
                        <span>Phòng chiếu:</span>
                        <p class="form-booking__room">{{name}}</p>
                        <input type="text" name ="room" value="{{_id}}" >
                    </div>
                    <div class ="form-booking-wrap">
                        <span>Ghế:</span>
                        <p class="form-booking__seat"></p>
                        <input class = "form-booking-seats" type="text" name ="seat" value="" >
                    </div>
                    {{/with}}
                {{/with}}
            </div>
            <div class="form-booking-right">
                <div class ="form-booking-wrap"> 
                    <span>Tổng: </span>
                    <p class="form-booking__total">0 ₫</p>
                    <input type="text" class ="form-booking-total" name ="total" value="" >
                </div>
            </div>
            <div  onclick="validateBooking(event)" class="form-booking__next"></div>
        </form>
    </div>
</div>

<script>
const formBooking = document.querySelector('.form-booking');
const seats = document.querySelectorAll('.seat');
const formTotal = document.querySelector('.form-booking__total');
const formSeat = document.querySelector('.form-booking__seat');
const TotalInput = document.querySelector('.form-booking-total');
const SeatInput = document.querySelector('.form-booking-seats');
let tableSeatBody = document.querySelector('.table-seats-body');

let total =0;
let seat =[];

// Format tiền
function formatCash(str) {
 	return str.split('').reverse().reduce((prev, next, index) => {
 		return ((index % 3) ? next : (next + ',')) + prev
 	})
}

// Xử lý khi chọn ghế
function handleSelectSeat(event){
    var input =  Array.from(tableSeatBody.querySelectorAll('input')).find(input =>input.getAttribute('id') == event.target.getAttribute('for'));
    if(input.disabled != true){
        if(!event.target.classList.contains('seat--active')){
            seat.push(event.target.textContent);
            event.target.classList.add('seat--active');
            total += parseInt(event.target.getAttribute('price'));
        }
        else{
                event.target.classList.remove('seat--active');
                var index = seat.findIndex(curr => curr == event.target.textContent)
                seat.splice(index,1);
                total -= parseInt(event.target.getAttribute('price'));
        }
            var result = new Intl.NumberFormat('vi-VN', {
                style: 'currency',
                currency: 'VND',
                minimumFractionDigits: 2
            }).format(total)

            formSeat.textContent = seat;
            formTotal.textContent = result;
            TotalInput.setAttribute('value',result);
            SeatInput.setAttribute('value',seat);
        }
}

// Kiểm tra người dùng chọn ghế chưa
function validateBooking(event){
    if(seat.length > 0){
        formBooking.submit();
    }
    else{
        alert("Bạn chưa chọn ghế!");
    }
}

// Hiển thị màu cho ghế
function start(){
  Array.from(tableSeatBody.querySelectorAll('input')).map(input => {
    if(input.getAttribute('data-status') == 'selected'){
        input.disabled = true;
        var label = Array.from(seats).find(curr => curr.getAttribute('for') == input.getAttribute('id'))
        label.classList.add('seat--disabled');
    }
    if(input.checked == true){
      var label = Array.from(seats).find(curr => curr.getAttribute('for') == input.getAttribute('id'))
      var color = (label.parentElement.parentElement.getAttribute('data')).split(',')[3];
        label.style.cssText = `    
            background-color: ${color} ;
            border:none !important;
            color: white;
          `
    }
    else{
      var label = Array.from(seats).find(curr => curr.getAttribute('for') == input.getAttribute('id'))
      var color = (label.parentElement.parentElement.getAttribute('data')).split(',')[3];
      label.style.cssText = `    
        background-color: none !important;
        border: 1px solid ${color} ;
        color: black;
      `
    }
 
  })
}

start();
</script>