<div class="category-container">
    <div class="location-wrap">
        <div class="location">
            <a href="" class="home"></a>
            <a href="" class="next"></a>
            <a href="">Phim</a>
            <a href="" class="next"></a>
            <a href="">{{films.[0].sub_category.name}}</a>
        </div> 
    </div>
    <div class="category-container-content">
        <h2 class="content-headding content-headding--category">{{films.[0].sub_category.name}}</h2>
        <div class="category-container__headding"></div>
        <div class="category-container-list row mt-3 gx-6 gy-5">
            {{#each films}}
            <div class="col col-lg-3">
                <div class="category-container__item ">
                    <a href="/category/film?id={{_id}}"><img src ="data:image/{{image.contentType}};base64,
                     {{image.data}}" class="category-container__item-img"></img></a>
                    <h3 class="category-container__item-headding text-uppercase">{{name}}</h3>
                    <div class="category-container__item-desc">
                        <p><b>Thể loại:</b>{{genre}}</p>
                        <p><b>Thời lượng:</b>{{minute}} phút</p>
                        <p><b>Khởi chiếu:</b>{{year}}</p>
                    </div>
                    <div class="category-container__item-control">
                        <button class="btn-like"><i class="fa-solid fa-thumbs-up"></i> Like 389 </button>
                        <button class="btn-buy"><span>MUA VÉ</span>    </button>
                    </div>
                </div>
            </div>
            {{/each}}

           
        </div>
    </div>
</div>