<div class="film-detail">
    <div class="location-wrap">
        <div class="location">
            <a href="" class="home"></a>
            <a href="" class="next"></a>
            <a >Phim</a>
            <a href="" class="next"></a>
            <a href="/{{film.category.[0].module}}/{{film.category.[0].slug}}">{{film.category.[0].name}}</a>
            <a href="" class="next"></a>
            <a class="/phim/{{film.slug}}" href=""><u>{{film.name}}</u></a>
        </div> 
    </div>
    <div class="film-detail-wrap">
        <h2 class="content-headding content-headding--detail">Phim đang chiếu</h2>
        <div class="row g-1 mt-4">
            {{#with film}}
            <div class="col col-lg-3">
                <div class="film-detail-content">
                    <img src ="data:image/{{image.contentType}};base64,
                     {{image.data}}" class="film-detail-content__img"></img>
                </div>
            </div>
            <div class="col col-lg-9">
                <div class="film-detail-content-desc">
                    <p class="film-detail-content-desc__headding text-uppercase" data-id ="{{_id}}">{{name}}</h2>
                    <div class="film-detail-content-desc__sub">
                        <p><b>Đạo diễn: </b>{{director}}</p>
                        <p><b>Diễn viên:</b>{{actor}}</p>
                        <p>
                            <b>Thể loại: </b>   
                            {{#each genre}}
                                {{name}},
                            {{/each}}
                        </p>
                        <p><b>Khởi chiếu: </b>{{year}}</p>
                        <p><b>Thời lượng: </b>{{minute}} phút</p>
                        <p><b>Ngôn ngữ: </b>{{language}}</p>
                        <p><b>Rated: {{rated}}</b> </p>
                    </div>
                    <div class="film-detail-content-desc__option">
                        <a href="" class="film-detail-content__option--c13"></a>
                        <a href="" class="film-detail-content__option--3d"></a>
                        <a href="" class="film-detail-content__option--4dx"></a>
                        <a href="" class="film-detail-content__option--imax"></a>
                    </div>
                </div>
                <div class="col col-lg-12">
                    <div class="film-detail-content__control">
                    <button class="btn-like"><i class="fa-solid fa-thumbs-up"></i> Like 389 </button>
                    <button class="btn-buy"><span>MUA VÉ</span></button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="film-detail-bottom">
            <div class="tabs">
                <p class="content-event__option">
                    <a href="" class="content-event-link">Chi tiết</a>
                        |
                    <a href="" class="content-event-link">Trailer</a>
                </p>
            </div>
            <div class="film-detail-bottom__sumary">
                {{description}}
            </div>
        </div>
        {{/with}}
    </div>
</div>
<div class="booking-ticket-model">
    <form class="form-booking-ticket" action ="/booking?film_id={{film._id}}" method="POST">
        <input class ="d-none" type="text" name="film" value="{{film._id}}" checked>
        <div class="booking-ticket-day row"></div>
        <div class="booking-ticket-site row"></div>
        <div class="booking-ticket-option row"></div>
        <div class="booking-ticket-cinema row"></div>
    </form>
</div>
<script>
const btnBuy = document.querySelector('.btn-buy');
const modelBooking = document.querySelector('.booking-ticket-model');
const modelBookingDay = document.querySelector('.booking-ticket-day');
const modelBookingSite = document.querySelector('.booking-ticket-site');
const modelBookingOption = document.querySelector('.booking-ticket-option');
const modelBookingCinema = document.querySelector('.booking-ticket-cinema');
const formBookingTicket = document.querySelector('.form-booking-ticket');
const filmHeadding = document.querySelector('.film-detail-content-desc__headding');
let siteInput,siteLabel,optionInput,optionLabel,timeInput,timeLabel,inputCinema,dayInput,dayLabel;

//them noi dung vao model booking site
function renderBookingSite(showTimes){
    var html ;
    var filterSame = [];
   
    // loc giong nhau
    if(showTimes.length >0 )
    {
        showTimes.map(function(data) {
            if(!filterSame.includes(data.area.name)){
                filterSame.push(data.area.name);
            }
        })
    
        if(filterSame.length != 0){
            filterSame.map((curr,index)=>{
                if(index == 0){
                    html = 
                        `
                            <input onclick ="handleSiteInput(event)" type="radio" id="site${index}" name="site" value='${curr}' checked>
                            <label class ='booking-ticket-site-label booking-ticket-site-label--active col col-lg-1 ' for="site${index}">${curr}</label>
                        `
                    }
                else{
                    html += 
                        `
                            <input onclick = "handleSiteInput(event)" type="radio" id="site${index}" name="site" value='${curr}'>
                            <label class ='booking-ticket-site-label col col-lg-1 ' for="site${index}">${curr}</label>
                        `
                }
            })
        }
        modelBookingSite.innerHTML = html;
            siteInput = document.querySelectorAll('.booking-ticket-site input');
        siteLabel = document.querySelectorAll('.booking-ticket-site-label');
    }
    else{
        modelBookingSite.innerHTML = '';
        siteInput = [];
        siteLabel = [];
    }


}

//them noi dung vao model booking quality
function renderBookingQuality(showTimes){
    var html ='';
    if(siteInput.length > 0){
        Array.from(siteInput).map(siteInput => {
            if(siteInput.checked == true){
                showTimes = showTimes.filter((curr) =>{
                    if(curr.area.name == siteInput.value){
                        return true;
                    }
                    else{
                        return false;
                    }
                })

                // lọc giống nhau
                filterSame = [];
                showTimes.map(cinema => {
                    cinema.rooms.map(room => {
                        room.showTimes.map(showTime => {
                            if(!filterSame.includes(showTime.quality.name)){
                                filterSame.push(showTime.quality.name);
                            }
                        })
                    })
                })

                filterSame.map((curr,index)=>{
                    if(index == 0){
                        html = 
                            `
                                <input onclick ="handleQualityInput(event)" type="radio" id="option${index}" name="option" value='${curr}' checked>
                                <label class ='booking-ticket-option-label booking-ticket-option-label--active col col-lg-1 ' for="option${index}">${curr}</label>
                            `
                        }
                    else{
                        html += 
                            `
                                <input onclick ="handleQualityInput(event)" type="radio" id="option${index}" name="option" value='${curr}'>
                                <label class ='booking-ticket-option-label col col-lg-1 ' for="option${index}">${curr}</label>
                            `
                    }
                })
            
                modelBookingOption.innerHTML = html;
                optionInput = document.querySelectorAll('.booking-ticket-option input');
                optionLabel = document.querySelectorAll('.booking-ticket-option-label');
            }
        })
       
    }
    else{
        modelBookingOption.innerHTML = '';
        optionInput = [];
        optionLabel = [];
    }
    return showTimes;
}

//them noi dung vao model booking desc
function renderBookingDesc(showTimes){
    if(optionInput.length >0){
        Array.from(siteInput).map(siteInput => {
            Array.from(optionInput).map(optionInput => {
                if(optionInput.checked == true && siteInput.checked == true){
                    showTimes = showTimes.filter((cinema) =>{
                        if(cinema.area.name == siteInput.value){
                            cinema.rooms = cinema.rooms.filter(room => {
                                room.showTimes = room.showTimes.filter(showTime => {
                                    if(showTime.quality.name == optionInput.value){
                                        return true;
                                    }
                                    else{
                                        return false;
                                    }
                                })
                                if(room.showTimes.length > 0){
                                    return true;
                                }
                            })
                            if(cinema.rooms.length > 0){
                                return true;
                            }
                        }
                    })
                }
            })
        })

            // 
            {{!-- showTimes.map(showTime => {
                showTime.rooms.map(room => {
                    room.showTimes.map(showTime => {
                        return 
                    })
                })
            }) --}}
            console.log(showTimes)


            var cinemaHtml = ''
            var timeHtml ='';
            var roomHtml ='';
            showTimes.map((cinema,index)=>{
                cinema.rooms.map((room)=>{  
                    room.showTimes.map(showTime => {
                        timeHtml += `
                                <input onclick ="handleTimeInput(event)" type="radio" id="${showTime.time}" name="info" value='${showTime.time + ',' + room._id + ',' + cinema._id}' >
                                <label class ='booking-ticket-time-label col col-lg-1' for="${showTime.time}">${showTime.time}</label>
                                `
                    })
                })
                
                if(index == 0){
                    cinemaHtml = 
                        `
                            <p>${cinema.name}</p>
                            ${timeHtml}
                            </br>
                        `
                    }
                else{
                    cinemaHtml += 
                        `
                            <hr>
                            <p>${cinema.name}</p>
                            ${timeHtml}
                            </br>
                        `
                }
                timeHtml = '';
            })
            modelBookingCinema.innerHTML = cinemaHtml;
            timeInput = document.querySelectorAll('.booking-ticket-time input');
            timeLabel = document.querySelectorAll('.booking-ticket-time-label');
            inputCinema = document.querySelectorAll('.input-cinema');
        
    }
    else{
            modelBookingCinema.innerHTML = '';
        }
}

//ngan chan su noi bot
function hanldeBubbling(){
    btnBuy.onclick = function(event){
        modelBooking.style.display = 'flex';
    }

    modelBooking.onclick = function(e) {
        modelBooking.style.display ='none';
    }

    formBookingTicket.onclick = function(event) {
        event.stopImmediatePropagation();
    }
}

//setting day 
function settingDay(){
    var today = new Date();
    let mm = today.getMonth() + 1; 
    var yyyy = today.getFullYear();
    var dd = today.getDate();  
    var today;

    if (dd < 10) dd = '0' + dd;
    if (mm < 10) mm = '0' + mm;
    let html='';
    for(let i =0;i<=30;i++){
        if(dd>31){
            dd =1;
            mm = parseInt(mm)+1;
        }

        today = yyyy + '-' + mm + '-' + dd;
        dateValue = dd + '-' + mm; 
        if(i == 0){
            html = `
                    <input onclick = "handleDayInput(event)" type="radio" id="day${i}" name="day" value='${today}' checked>
                    <label class ='booking-ticket-day-label booking-ticket-day-label--active col col-lg-1' for="day${i}">${dateValue}</label>
            `;
        }
        else{
            html += `
                    <input onclick = "handleDayInput(event)" type="radio" id="day${i}" name="day" value='${today}'>
                    <label class ='booking-ticket-day-label col col-lg-1' for="day${i}">${dateValue}</label>
            `;
        }
        dd += 1;
    }
    modelBookingDay.innerHTML =html;

    dayInput = document.querySelectorAll('.booking-ticket-day input');
    dayLabel = document.querySelectorAll('.booking-ticket-day-label');
}

// Xu ly truong hop mac dinh
function renderBookingDefault() {
     $(document).ready(function() {
            Array.from(dayInput).map(dayInput => {
                if(dayInput.checked == true){
                    $.ajax({
                        url : `/api/v1/cinemas/rooms/show-times?film_id=${filmHeadding.getAttribute('data-id')}&date=${dayInput.value}`,
                        method : 'GET',
                        contentType: 'application/json',
                        success: function (data){
                            var showTimes = data;
                            renderBookingSite(showTimes);
                            renderBookingQuality(showTimes);
                            renderBookingDesc(showTimes);
                        }
                    })
                }
            })
        })
}

// Xu ly chon  day
function handleDayInput(event) {
        // bo active cua label cu
        var [oldLabel] = Array.from(dayLabel).filter(label=>label.classList.contains('booking-ticket-day-label--active'))
        if(oldLabel){
            oldLabel.classList.remove('booking-ticket-day-label--active')
        }
        // them active vao label dc check
        var [label] = Array.from(dayLabel).filter(label=>label.getAttribute('for') == event.target.id)
        label.classList.add('booking-ticket-day-label--active');

        // call api
        $(document).ready(function() {
            $.ajax({
                url : `/api/v1/cinemas/rooms/show-times?film_id=${filmHeadding.getAttribute('data-id')}&date=${event.target.value}`,
                method : 'GET',
                contentType: 'application/json',
            })
            .then((data)=>{
                var showTimes = data;
                renderBookingSite(showTimes);
                renderBookingQuality(showTimes);
                renderBookingDesc(renderBookingQuality(showTimes));
            })
            .catch(err => console.log(err));
        })
}

// Xu ly chon dia diem
function handleSiteInput(event) {
    if(event.target.checked == true ){
        // bo active cua label cu
        var [label2] = Array.from(siteLabel).filter(label=>label.classList.contains('booking-ticket-site-label--active'))
        if(label2){
            label2.classList.remove('booking-ticket-site-label--active')
        }

        // them active vao label dc check
        var [label] = Array.from(siteLabel).filter(label=>label.getAttribute('for') == event.target.id)
        label.classList.add('booking-ticket-site-label--active');

        Array.from(dayInput).map(dayInput => {
            if(dayInput.checked == true){
                console.log(dayInput)
                $(document).ready(function() {
                    $.ajax({
                        url : `/api/v1/cinemas/rooms/show-times?film_id=${filmHeadding.getAttribute('data-id')}&date=${dayInput.value}`,
                        method : 'GET',
                        contentType: 'application/json',
                    })
                    .then(data => {
                        var showTimes = data;
                        renderBookingQuality(showTimes);
                        renderBookingDesc(renderBookingQuality(showTimes));
                    })
                    .catch(err => console.log(err))
                })

            }
        })
        
    }
}

// Xu ly chon quality
function handleQualityInput(event) {
        // bo active cua label cu
        var [oldLabel] = Array.from(optionLabel).filter(label=>label.classList.contains('booking-ticket-option-label--active'))
        if(oldLabel){
            oldLabel.classList.remove('booking-ticket-option-label--active')
        }

        // them active vao label dc check
        var [label] = Array.from(optionLabel).filter(label=>label.getAttribute('for') == event.target.id)
        label.classList.add('booking-ticket-option-label--active');

        // ajax
        Array.from(dayInput).map(dayInput => {
            if(dayInput.checked == true){
                $(document).ready(function() {
                    $.ajax({
                        url : `/api/v1/cinemas/rooms/show-times?film_id=${filmHeadding.getAttribute('data-id')}&date=${dayInput.value}`,
                        method : 'GET',
                        contentType: 'application/json',
                        success: function (data){
                            var showTimes = data;
                            renderBookingDesc(showTimes);
                        }
                    })
                })
            }
        })
}

// Xu ly chon time
function handleTimeInput(event) {
        // xóa active ở label 
        var [oldLabel] = Array.from(timeLabel).filter(label=>label.classList.contains('booking-ticket-time-label--active'))
        if(oldLabel){
            oldLabel.classList.remove('booking-ticket-time-label--active')
        }
        
        // thêm active vào label 
        var [label] = Array.from(timeLabel).filter(label=>{
            return label.getAttribute('for') == event.target.id
        });

        label.classList.add('booking-ticket-time-label--active');

        formBookingTicket.submit();
}

var app ={
    start() {
        hanldeBubbling();
        settingDay();
        renderBookingDefault();
    }
}
app.start();

</script>