<h2>Danh sách danh mục cha</h2>
<table class="table table-bordered text-center mb-4">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Sub_menu_id</th>
      <th scope="col">Option</th>
    </tr>
  </thead>
  <tbody>
     {{#each categorys}}
    <tr>
      <td>{{_id}}</td>
      <td>{{name}}</td>
      <td>{{status}}</td>
      <td>{{subArrayDocumentRender sub_menu}}</td>
      <td><a href="/admin/categorys/update?id={{_id}}">Sửa</a>/<a href="/admin/categorys/delete?id={{_id}}">Xóa</a></td>
    </tr>
     {{/each}}
  </tbody>
</table>

<h2>Danh sách danh mục con</h2>
<table class="table table-bordered text-center">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Link</th>
      <th scope="col">Option</th>
    </tr>
  </thead>
  <tbody>
     {{#each subCategorys}}
    <tr>
      <td>{{_id}}</td>
      <td>{{name}}</td>
      <td>{{status}}</td>
      <td>{{link}}</td>
      <td><a href="/admin/subcategorys/update?id={{_id}}">Sửa</a>/<a href="/admin/subcategorys/delete?id={{_id}}">Xóa</a></td>
    </tr>
     {{/each}}
  </tbody>
</table>
       


