<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb my-0 ms-2">
      <li class="breadcrumb-item"><a href="/admin">Home</a></li>
      <li class="breadcrumb-item"><a href="/admin/films">Quản trị phim</a></li>
      <li class="breadcrumb-item active"><span>Danh sách thể loại phim</span></li>
    </ol>
  </nav>
</div>
</header>
<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="card mb-4">
      <div class="card-body d-flex justify-content-between">
        {{>adminFilter}}
        <div class ="table-filter-right">
          <a href = "/admin/seats-type/create" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Thêm mới </a>
        </div>
      </div>
      <table class="table mt-2 text-center">
        <thead class="table-dark ">
          <tr>
            <th><input type="checkbox" class = "table-checkbox form-check-input"></th>
            <th scope="col">STT</th>
            <th class ="table-col-left" scope="col">Tên</th>
            <th scope="col">Giá</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Tùy chọn</th>
          </tr>
        </thead>
        <tbody >
          {{#each seatsType}}
          <tr>
            <td><input type="checkbox" class = "table-checkbox form-check-input"></td>
            <td>{{countIndex @index 1}}</td>
            <td class ="table-col-left">{{name}}</td>
            <td>{{price}}</td>
            <td>{{#if status}}<input class = "table-checkbox form-check-input" type="checkbox" checked>{{/if}}{{#unless status}}<input class = "table-checkbox form-check-input" type="checkbox">{{/unless}}</td>
            <td>
              <a href="/admin/seats-type/update?id={{_id}}"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="/admin/seats-type/delete?id={{_id}}"><i class="fa-solid fa-xmark"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>  
  </div>  
</div>  

