
<main>
    <div class="header ">
        <div class="header-top ">
            <ul class="header-top__menu">
                <li class="header-top__nav">
                    <a href="" class="header-top__link"><img src="/img/tuyendung.png"> TUYỂN DỤNG</a>
                </li>
                <li class="header-top__nav">
                    <a href="" class="header-top__link"><img src="/img/sale.png"> TIN MỚI & ƯU ĐÃI</a>
                </li>
                <li class="header-top__nav">
                    <a href="" class="header-top__link"><img src="/img/ticket.png"> VÉ CỦA TÔI</a>
                </li>
                <li class="header-top__nav">
                    <img src="/img/user.png">
                        {{#if user}}
                        <a href="" class="header-top__link">XIN CHÀO, {{user.name}}!</a>
                        <a href="" class="logout-link">THOÁT</a>
                        {{/if}}
                        {{#unless user}}
                        <a href="/login" class="header-top__link">ĐĂNG NHẬP</a>
                        /
                        <a href="/redgister" class="header-top__link">ĐĂNG KÝ </a>
                        {{/unless}}
     
                </li>
            </ul>
        </div>
        <div class="header-mid">
            <div class="header-mid-wraper">
                <div class="header-mid-left">
                    <a href="/" class="header-logo__link">
                        <img class ='main-logo' src ='/img/cgv.png'>
                    </a>
                    <ul class="header-mid-menu">
                        {{#each menu}}
                        <li class="header-mid__nav">
                            <a href="#" class="header-mid__link text-uppercase">
                                {{name}}
                            </a>
                            <div class="sub-menu-container">
                                <ul class="sub-menu">
                                    {{#each sub_menu}}
                                    <li class ="sub-menu__nav"><a href="/{{module}}/{{slug}}">{{name}}</a></li>
                                    {{/each}}
                                </ul>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="header-mid-right">
                    <a href="" class="header-logo__link">
                        <img class ='main-logo' src ='/img/kenhcine.gif'>
                    </a>
                    <a href="" class="header-logo__link">
                        <img class ='main-logo' src ='/img/ticket-header-mid.png'>
                    </a>
                </div>
            </div>
        </div>
    </div>
<script>
    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        let expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    var logoutBtn = document.querySelector('.logout-link');
    if(logoutBtn){
        logoutBtn.onclick= function(){
        setCookie('token',{},-1)
        }
    }
</script>


